{% extends 'students/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Groups{% endblock meta_title %}

{% block title %}List of Groups{% endblock title %}

{% block content %}

    <a href="{% url 'groups_add' %}" class="btn btn-primary">Add Group</a>

    <!-- Start Groups Listing -->
    {% if groups %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th><a href="#">#</a></th>
            <th><a href="#">Name</a></th>
            <th><a href="#">Leader</a></th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'groups_edit' group.id %}">{{ group.name }}</td>
                <td><a href="{% url 'students_edit' group.leader.id %}">{{ group.leader.name }}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'groups_edit' group.id %}">Edit</a>
                            </li>
                            <li>
                                <a href="{% url 'groups_delete' group.id %}">Delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- End Groups Listing -->
    {% endif %}

    <nav>
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </nav>

{% endblock content %}